<% content_for(:head) do %>
	<%= stylesheet_link_tag "jquery.Jcrop" %>
	<%= javascript_include_tag "jquery-1.3.2.min" ,"jquery.Jcrop.min" %>
  <script type="text/javascript" charset="utf-8">
    function showPreview(coords)
    {
	    var rx = <%= Image::AVATAR_SW %> / coords.w;
	    var ry = <%= Image::AVATAR_SH %> / coords.h;
	    var ratio = <%= @image.picture_geometry(:original).width %> / <%= @image.picture_geometry(:large).width %>; 

	    $('#preview').css({
		    width: Math.round(rx * <%= @image.picture_geometry(:large).width.to_i %>) + 'px',
		    height: Math.round(ry * <%= @image.picture_geometry(:large).height.to_i %>) + 'px',
		    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
		    marginTop: '-' + Math.round(ry * coords.y) + 'px'
	    });
      $('#crop_x').val(Math.round(coords.x * ratio));
      $('#crop_y').val(Math.round(coords.y * ratio));
      $('#crop_w').val(Math.round(coords.w * ratio));
      $('#crop_h').val(Math.round(coords.h * ratio));
    }

    $(function() {
      $('#cropbox').Jcrop({
          onSelect: showPreview,
          onChange: showPreview,
          setSelect:   [ 0, 0, 500, 400 ],
          aspectRatio:   <%= Image::AVATAR_SW %>/<%= Image::AVATAR_SH %>
        });
    });
  </script>
<% end %>
<%=h @image.name %>
<table>
<tr>
	<td><%= image_tag @image.picture.url(:large), :id => 'cropbox' %></td>
	<td valign="top">
	  <div style="position:absolute; width:<%= Image::AVATAR_SW %>px; height:<%= Image::AVATAR_SH %>px;overflow:hidden">	
	    <%= image_tag @image.picture.url(:large), :id => 'preview' %>
	  </div>  
	</td>
</tr>


</table>
<div style="position: absolute; top: 480px;">
  <% form_for @image do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]%>
      <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <%= f.submit "Crop", :type => :image, :src => "images/submit.jpg" %>             
  <% end %>
</div>
