<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Canyon</title>	
	<%= stylesheet_link_tag "default" %>
	<%= javascript_include_tag :defaults %>
  	<!--<%#= javascript_include_merged :base %>-->  	
</head>

<body onload="shakethis()">
	<% if flash_message %><%= flash_message %><% end %>
	<div id="site-wrapper">		
		<% if params[:action] == "contact_us" || params[:action] == "apply_now" %>
		<div id="header">		  
			<div id="logo">
				<div><%= link_to image_tag("logo.jpg"),{:controller => "dashboard", :action => "index"} %></div>
			</div>
		<% else %>
			<div id="header-wrap">
		<% end %>
			<!--<%# if admin? %><div id="global_links"><%#= render :partial => 'shared/global_links' %></div><%# end %>-->
			<div id="top-navigation"><%= render :partial => 'shared/tabs' %></div>
		</div>
		<div id="wrapper">				
				<%= yield %>						
		</div>		
		<div class="clear"></div>
                </div>
        </div>
</body>
</html>
